@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 13px;
}

nav, h2, .banner span, section h1 {
    font-family: 'Oswald', sans-serif;
}

.logo {
    width: 86px;
    float: left;
    margin-top: -25px;
}

svg {
    border-radius: 0 0 5px 5px;
}

.st0 {
    fill: url(#logo-gradient);
}

.st1 {
    display: none;
}

.st2 {
    display: inline;
    fill: #FFFFFF;
}

.logo h1 {
    font-size: 13px;
}

header {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 80px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

nav {
    float: right;
    margin-top: 20px;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    transition: 500ms;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.banner {
    height: 250px;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
}

.banner span {
    display: block;
    font-size: 50px;
    margin-left: 20px;
}

.banner em {
    font-family: 'Ephesis', cursive;
    font-size: 120px;
    font-style: normal;
    line-height: 60px;
}

.explore {
    background: linear-gradient(#0082FF, #0000B4);
    width: 83px;
    font-size: 15px;
    margin: auto;
    border-radius: 50px;
    padding: 4px 20px 6px 20px;
    margin-top: 30px;
    font-weight: 300;
    cursor: pointer;
}

i {
    font-size: 10px;
    margin-left: 5px;
}

main {
    width: 100%;
    display: inline-block;
}

section {
    width: 960px;
    margin: auto;
}

section h1 {
    font-size: 30px;
    letter-spacing: 1px;
    color: white;
    font-weight: 300;
    text-shadow: 0 0 20px black;
}

article {
    box-sizing: border-box;
    width: 30%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    float: left;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

section article:nth-child(2), section article:nth-child(3) {
    margin-right: 5%;
}

h2 {
    font-weight: normal;
}

article p, h2 {
    padding: 0 20px;
}

article p {
    line-height: 18px;
}

article img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    transition: 500ms;
    cursor: pointer;
}

.learn-more {
    margin: 0 0 20px 20px;
    font-weight: bold;
    cursor: pointer;
}

footer {
    width: 100%;
    display: inline-block;
    margin: 50px auto 0;
    font-size: 11px;
}

.footer-wrap {
    width: 960px;
    margin: auto;
}

.copyright {
    float: left;
}

.footer-links {
    float: right;
}

.footer-links a {
    color: black;
    text-decoration: none;
    padding: 5px
}

nav.mobile-menu, .hb {
    display: none;
}

/***** Lesson 4 *****/

.logo:hover {
    animation: swing ease-in-out 2s infinite alternate;
    transform-origin: center -5px;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

nav a.active {
    border-bottom: 3px solid #0082FF;
    padding-bottom: 0;
}

nav a {
    float: left;
}

nav a:after {
    display: block;
    content: '';
    padding-bottom: 5px;
    border-bottom: 3px solid #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

nav a:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

nav a.active:after {
    border-bottom: none;
}

.dropdown {
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin: 39px 0 0 15px;
    background-color: #f9f9f9;
    border-radius: 0 20px 0 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    font-weight: 300;
}

.dropdown-content a:after {
    display: none;
}

.dropdown-content a:hover {
    color: #0082FF;
}

article img:hover {
    filter: grayscale();
}

.explore i, .learn-more i {
    transition: 250ms;
}

.explore:hover i, .learn-more:hover i {
    transform: translateX(3px);
}

/***** Lesson 5 *****/

@media only screen and (max-width: 768px) {
    body {
        background: url(images/bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    header {
        width: 100%;
        padding: 5vw 5vw 18vw;
    }

    .bgvideo {
        display: none;
    }

    .logo {
        width: 20vw;
    }

    .logo h1 {
        font-size: 3vw;
    }

    nav.main-menu {
        display: none;
    }

    nav.mobile-menu {
        display: block;
        background: white;
        border-radius: 0 5vw;
        display: none;
    }

    nav.mobile-menu a {
        display: block;
        width: 100%;
    }

    nav a.active {
        border-bottom: none;
        padding-bottom: 5px;
        border-left: 3px solid #0082FF;
    }

    nav a {
        padding: 5px 15px;
    }

    .hb {
        display: block;
        float: right;
    }

    .hb i {
        font-size: 8vw;
        padding: 4vw;
        color: #0082FF;
    }

    .banner em {
        font-size: 27vw;
    }

    .banner span {
        font-size: 12vw;
    }

    .explore {
        font-size: 17px;
    }

    section h1 {
        text-align: center;
    }

    section {
        width: 100%;
    }

    article {
        float: none;
        margin: 0 auto;
        width: 80vw;
        padding-bottom: 1vw;
    }

    section article:nth-child(2), section article:nth-child(3) {
        margin: 0 auto 8vw;
    }

    article h2 {
        font-size: 6vw;
    }

    article p, .learn-more {
        font-size: 3.75vw;
    }

    footer, .footer-wrap {
        width: 100%;
        text-align: center;
    }

    .footer-links, .copyright {
        float: none;
    }

    .footer-links {
        padding: 2vw 0 10vw;
    }
}